.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  form {
    width: 500px;
    margin-right: 1rem;
    text-align: center;

    input,
    textarea {
      width: 100%;
      padding: 1rem;
      margin: 0.5rem 0;
      border: 1px solid #000000;
      border-radius: 0.3rem;
    }
    textarea {
      resize: none;
    }

    button {
      padding: 0.8rem;
      width: 40%;
      background-color: #ec7031;
      border: none;
      cursor: pointer;
      border-radius: 0.5rem;
      transition: filter 0.2s;
      font-size: 1.5rem;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  .contatos {
    width: 500px;
    padding: 1rem;
    background-color: #e27037ad;
    height: 500px;
    text-align: center;
    border-radius: 0.8rem;
    margin-left: 5rem;
    overflow: auto;
  }
  .contatoIndividual {
    color: #000000;
    background-color: #c5937b;
    border-radius: 0.5rem;
    text-align: left;
    max-height: 200px;
    box-sizing: content-box;
    padding: 0 0.5rem;
    margin-top: 1rem;

    .nome {
      font-size: 1.5rem;
      padding: 0.1rem 1rem;
      font-weight: bold;
    }
  }
}
